<% @page_title = 'myConfigs' %>
<h4>Number of items: <%= @posts.length %></h4>
<ul>
    <% @posts.each do |post| %>
		<li>
		    <a href="#" title="<%= post.title %>">ID<%= post.id %>: <%= post.title %></a>
			<ul>
				<li>Description: <%= post.description %></li>
				<% if post.homepage.length > 0 %><li>Homepage: <a href="<%= post.homepage %>" target="_blank"><%= post.homepage %></a></li><% end %>
				<li><a href="#">Edit</a> | <a href="#">Delete</a></li>
			</ul>
		</li>
    <% end %>
</ul>



<a href="/new">Add Item</a>