<% @page_title = "<i class='icon-#{@post.category}'> </i>#{@post.title}" %>
<div id="description"><strong>Description:</strong> <%= @post.description %></div>

<div style="margin-top:30px"></div>

<% if @post.homepage %><a class="btn btn-sm btn-info" href="<%= @post.homepage %>" target="_blank">Docs</a> <% end %><a class="btn btn-sm btn-primary" href="/<%= @post.id %>/edit">Edit</a> <a class="btn btn-sm btn-danger" href="/<%= @post.id %>/delete">Delete</a> <a class="btn btn-sm btn-default" href="/">Back</a>

<% if @post.samplecode.to_s.length > 0 %>
	<hr>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Sample Code</h3>
		</div>
		<div class="panel-body">
		    <div id="markdownContainer"><%= @post.samplecode %></div>
		</div>
	</div>
	<script>
		$(function(){
			var $markdownContainer = $('#markdownContainer');
			var converter = new showdown.Converter(),
				markdown  = $markdownContainer.html(),
				html      = converter.makeHtml(markdown);
			$markdownContainer.html(html);
		});
	</script>
<% end %>